.dropdown-menu{
  width:200px;
  position:absolute;
  top: 80px;
  list-style: none;
  text-align:start;
}

.dropdown-menu li{
  background:#6558ff;
}
.dropdown-menu li:hover{
  background: #655888;
}
.dropdown-menu.clicked{
  display:none;
}

.dropdown-link{
  display:block;
  width:100%;
  height:100%;
  text-decoration: none;
  color:#fff;
  padding:16px;
}